/* ============================= */
/* Anpassung für kleinere Bildschirme */
/* ============================= */
@media (max-width: 768px) {

  .map-container {
      flex-direction: column;
      text-align: center;
  }

  .map-text-content {
      max-width: 100%;
      text-align: center;
  }

  .summary-container {
      flex-direction: column;
      align-items: center;
  }

  .item-wrapper {
      margin: 10px;
  }


}